@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
}
main{
    margin-inline: 7rem;
    /* max-width: 1440px; */
    margin: 0 auto;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}


.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap: 10rem;
    row-gap: 5rem;
    margin-top: 100px;
    align-content:center;
    margin-inline: 7rem;
    
    
    

    /* max-width: max-content; */
}

.photographer_section article {

    /* border: 2px solid lime; */
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;


}

.photographer_section article a {
    color: #D3573C;
    font-size:32px;
    display: flex;
    flex-direction: column-reverse;
    text-decoration: none;
    align-items: center;
    gap: 0.8rem;
    padding: 0;
    margin: 0.8rem;
    /* margin-inline: 0; */
    text-align: center;
    cursor: pointer;
}

.photographer_section article div{
    display: grid;
place-items: center;
}

.photographer_section div p{
    margin-block: 0;
    }
    
.photographer_section div span{
color: #525252;
}

.photographer_section article h3 {
    color: #D3573C;
    font-size: 1rem;
    
    padding: 0;
   margin: 0;

}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* transform: scale(0.8);
     */
     translate: 2px 5px;
    object-fit: cover;
    object-position: center;
    /* object-fit: contain; */
    /* object-fit: cover; */
    /* object-position: center; */
    cursor: pointer;
}

.photographer_section article img:hover{

}
